.page_headline{
    background-color:#f8f3f4;
    height: 148px;
}

.page_headline_container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.page_headline_container .headline{
    color: #f16d7f;
    font-family: "Lato - Black";
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.page_headline_container .path{
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #636363;
    font-family: "Lato Light";
    font-weight: 300;
}

.page_headline_container .path span{
    font-family: "Lato - Bold";
    font-weight: 700;
    color: #f16d7f;
}